<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        .piece{
            background-color: #F2F2F2;width: 48%;float: left;margin-top: 10px;text-align: right;
        }
        .piece_left{
            margin-right: 10px;
        }
        .piece_bottoma{
            margin-top: 10px;
        }
        .piece p{
            margin: 12px;
        }
        .p_num{
            margin: 12px;color: #1e9fff;
        }
        .piece:hover {
            background-color: #e2e2e2;
        }
    </style>
</head>

<body >


<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header"><h3>设备个数</h3></div>
                <div class="layui-card-body " style="overflow:hidden;">
                    <div class="piece piece_left" >
                        <a th:href="@{/Flushbonading/getFlushbonadingIndex?etypessid=gft67896ijyy}" >
                            <p>审讯设备</p>
                            <h1 class="p_num" th:text="${ecCountVO.flushbonadingCount}" >36</h1>
                        </a>
                    </div>

                    <div  class="piece">
                        <a th:href="@{/Asr/getAsrIndex?etypessid=sade431}" >
                            <p>语音服务器</p>
                            <h1 class="p_num" th:text="${ecCountVO.asrCount}" >578</h1>
                        </a>
                    </div>

                    <div class="piece piece_left piece_bottom">
                        <a th:href="@{/Polygraph/getPolygraphIndex?etypessid=4562cdrtawe}" >
                            <p>测谎仪</p>
                            <h1 class="p_num" th:text="${ecCountVO.polygraphCount}" >1280</h1>
                        </a>
                    </div>

                    <div  class="piece piece_bottom">
                        <a th:href="@{/Storage/getStorageIndex?etypessid=sscunchufuwu}" >
                            <p>存储设备</p>
                            <h1 class="p_num" th:text="${ecCountVO.ssCount}" >8888</h1>
                        </a>
                    </div>

                    <div  class="piece piece_bottom">
                        <a th:href="@{/ttsetinfo/getTtsetinfoIndex?etypessid=tts1type}" >
                            <p>文字转语音服务</p>
                            <h1 class="p_num" th:text="${ecCountVO.ttsCount}" >8888</h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header"><h3>设备基础</h3></div>
                <div class="layui-card-body" style="overflow:hidden;">
                    <div class="piece piece_left">
                        <a th:href="@{/BaseEttype/getBaseEttypeList}" >
                            <p>设备类型</p>
                            <h1 class="p_num" th:text="${ecCountVO.ettypeCount}" >17</h1>
                        </a>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>



<div th:replace="footer :: footer">...</div>
</body>
</html>